# see medooze_sfu/src/config/config.ts

# NODE_ENV=production		# development/production
# SIGNALING_SERVER_PORT=3000
# VIDEO_CODEC=h264		# h264/vp8/vp9
# CHECK_MEDIA_STREAM_ALIVE=on	# on/off
# ENABLE_SFU_LOG=on		# on/off
# ENABLE_RECORD=off		# on/off
